<%- layout('boilerplate') %>

<div class="text-center">
    <h1>Login</h1>
  </div>
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="col-md-4 card p-4 col-12 shadow">
        <form action="/login" method="post" class="validated-form" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label"> username</label>
                <input type="text" class="form-control" id="username" name="username"  required>
                
        <div class="mb-3">
            <label for="password" class="form-label"> password</label>
            <input type="password" class="form-control" id="password" name="password"  required>
            
    <div class="d-flex justify-content-center align-items-center mt-4">
        <button class="btn btn-success col-md-4">
            Login
        </button>
    </div>
    <div class="mt-3">
    <a href="/register" >Create a new account</a>
    </div>
        </form>
    </div>
</div>

<script>
    (function () {
    'use strict'
  
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.validated-form')
  
    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }
  
        
          form.classList.add('was-validated')
        }, false)
      })
  })()
</script>